:root {
  --main-font: whitesmoke;
  --foreground: rgb(33, 37, 41);
  --background: rgb(1, 1, 0);
  --bs-body-bg: var(--background);
}

body {
  margin: 0;
  font-family: "Marvel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--main-font);
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
}
nav.navbar.navbar-light {
  background-color: var(--background);
  color: var(--main-font);
}

a.navbar-brand {
  font-size: 1.8rem;
}

a.nav-link {
  text-align: end;
}

nav {
  border-bottom: 1.5px solid var(--foreground);
}

.fade-in-section {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in-section.is-visible {
  opacity: 1;
}

.navbar-collapse {
  flex-grow: 0;
  justify-content: end;
}

.section-container {
  padding-bottom: 50px;
  min-height: calc(100vh - 57px);
  /* margin-bottom: 45px; */
}

.connect-section {
  padding-top: 30px;
  border-top: 1px solid var(--main-font);
}

.home-button {
  display: flex;
  justify-content: center;
}

.item {
  background-color: var(--foreground);
}

.home-profile-pic {
  max-width: 275px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 500px;
}

.short-bio,
p.featured-project {
  font-size: 1.3rem;
  text-align: justify;
  height: fit-content;
}

img.featured-project {
  max-width: 100%;
}

.featured-link {
  text-align: end;
}

.btn.btn-dark {
  box-shadow: var(--main-font) 1px 1px 4px;
}
.btn.btn-dark:hover {
  box-shadow: none;
}

.btn {
  height: min-content;
}

img.education {
  max-width: 120px;
  height: auto;
}

div.education {
  font-size: 1.1remrem;
  text-align: center;
  font-weight: 600;
}

p.education-description {
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 400;
}

.education.row {
  margin: 20px 0;
}

.fa-brands {
  font-size: 5em;
}

.fa-twitter {
  color: rgb(29, 155, 240);
}

.fa-github {
  color: var(--main-font);
}

.fa-linkedin {
  color: rgb(37, 104, 178);
}

.fa-arrow-up-right-from-square {
  /* color: var(--main-font); */
  font-size: 0.6rem;
  margin-left: 5px;
}

.fa-house {
  font-size: 0.8rem;
  margin-left: 5px;
}
@media screen and (max-width: 768px), screen and (min-width: 576px) {
  div.education {
    text-align: center;
    margin-bottom: 10px;
  }
}

img.resume {
  max-width: 100%;
  height: auto;
}

img.projects-page {
  max-width: 80%;
}

.project-page-description {
  font-size: 1.1rem;
}

@media screen and (min-width: 577px), screen and (max-width: 991px) {
  .btn {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 576px) {
  .section-header {
    margin-bottom: 30px;
  }
  .section-container {
    /* padding: 0; */
  }
  img.home-profile-pic {
    margin-bottom: 30px;
  }
  /* .home-buttons {
    padding-bottom: 45px;
  } */
  .short-bio {
    margin-bottom: 30px;
  }
  .btn {
    font-size: 1rem;
    font-weight: 600;
  }
  .buttons:nth-of-type(2) {
    padding-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  .short-bio {
    font-size: 1.3rem;
  }
  div.featured-project {
    font-size: 1.3rem;
  }
  .btn {
    font-size: 1.55rem;
  }
}
